.GameResults {
    text-align: center;
    background-image: linear-gradient(to right, blue, white);
}

.GR-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: white;
}

.GR-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: white;
}

.timeline {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: white;
}
